extends ../layouts/main.pug

block content           

  h1 #{pageTitle}

  if products.length > 0
    ul.cart__item-list
      each p in products
        li.cart__item
          h1 #{p.productId.title}
          h2 Quantity: #{p.quantity}
          form(action="/cart-delete-item", method="post")
            input(type="hidden", name="productId", value=`${p.productId._id}`)
            button.btn(type="submit") Delete
    hr
    .centered
      form(action="/create-order", method="post")
        button.btn(type="submit") Order Now!

  else
    h5 Cart is Empty
      


block styles
  link(rel="stylesheet", href="/css/product.css")
  link(rel="stylesheet", href="/css/cart.css")

