extends ../layouts/main.pug

block content           

  h1 #{pageTitle}

  if orders.length > 0
    ul.cart__item-list
      each order in orders
        li.cart__item
          h1 #{order.id}
            ul
              each p in order.products
                li #{p.product.title} (#{p.quantity})
    hr
    .centered
      form(action="/create-order", method="post")
        button.btn(type="submit") Order Now!

  else
    h5 Nothing there!
      


block styles
  link(rel="stylesheet", href="/css/product.css")
  link(rel="stylesheet", href="/css/cart.css")


