extends ../layouts/main.pug

block content           
	
  if prods.length > 0
    .grid
      each product in prods
        article.card.product-item
          header.card__header
            h1.product__title #{product.title}
          .card__image
            img(src=`${product.imageUrl}`, alt=`${product.title}`)
          .card__content
            h2.product__price $#{product.price}
            p.product__description #{product.description}
          .card__actions
            a(href=`/product/${product._id}` class=`btn`) Details
            include ../includes/add-to-cart.pug
  else
    h1 No Products

block styles
  link(rel="stylesheet", href="/css/product.css")

