extends ../layouts/main.pug

block content           
  .centered

    h1.product__title #{product.title}
    hr
    div
      img(src=`${product.imageUrl}`, alt=`${product.title}`)
    h2.product__price $#{product.price}
    p.product__description #{product.description}
    include ../includes/add-to-cart.pug

block styles
  link(rel="stylesheet", href="/css/product.css")

